services:
  birdnet-pi:
    container_name: birdnet-pi
    # image: ghcr.io/alexbelgium/birdnet-pi-amd64:latest
    image: ghcr.io/alexbelgium/birdnet-pi-aarch64:latest
    restart: unless-stopped
    ports:
      - "8081:8081" # Used to access WebUI
      # - "80:80" # Optional: set to 80 to use Caddy's automatic SSL. Can otherwise be set to null to avoid opening an additional port
    environment:
      - TZ=America/New_York # Optional: Set your timezone according to https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
      - BIRDSONGS_FOLDER=/config/BirdSongs # Folder to store bird songs, be sure to use a path that is mapped to a volume (such as /config)
      - LIVESTREAM_BOOT_ENABLED=false # Enable/disable livestream on boot
      - Use_tphakala_model_v2=false # Switch to BirdNET-Go classifier files
      - ssl=false # Enable/disable SSL
      - certfile=fullchain.pem # SSL certificate file (located in /ssl/)
      - keyfile=privkey.pem # SSL key file (located in /ssl/)
      # - pi_password=  # Optional: Set web terminal password for user `pi`
      # - MQTT_HOST_manual=  # Optional: Manual MQTT host
      # - MQTT_PASSWORD_manual=  # Optional: Manual MQTT password
      # - MQTT_PORT_manual=  # Optional: Manual MQTT port
      # - MQTT_USER_manual=  # Optional: Manual MQTT user
      - PULSE_SERVER=unix:/tmp/pulseaudio.socket
      - PULSE_COOKIE=/tmp/pulseaudio.cookie

    volumes:
      - ./config:/config # All your configuration files - and location of the default Birdsongs folder
      - ./ssl:/ssl # SSL certificates
      - /dev/shm:/dev/shm # Shared memory
      - /tmp/pulseaudio.socket:/tmp/pulseaudio.socket
      # - /tmp/pulseaudio.client.conf:/etc/pulse/client.conf
      - /etc/pulse/client.conf:/etc/pulse/client.conf

    devices:
      - /dev/snd:/dev/snd

    group_add:
      - audio

    tmpfs:
      - /tmp # Optional

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.birdpi.rule=Host(`${HOSTNAME}`)"
      - "traefik.http.routers.birdpi-fqdn.rule=Host(`${FQDN}`)"

