
# Needs permissions to the DATA_*_PATH directories:
#   mkdir -p /data/linkwarden/data
#   mkdir -p /data/linkwarden/postgres
#   mkdir -p /data/linkwarden/meilisearch
#   sudo chown -R 1000:1000 /data/linkwarden


version: '3.8'
services:
  linkwarden:
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER:?POSTGRES_USER not set}:${POSTGRES_PASSWORD:?POSTGRES_PASSWORD not set}@postgres:5432/${POSTGRES_DB?-postgres}
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET:?NEXTAUTH_SECRET not set}
      - NEXTAUTH_URL=${NEXTAUTH_URL:?NEXTAUTH_URL not set}
      - MEILI_MASTER_KEY=${MEILI_MASTER_KEY:?MEILI_MASTER_KEY not set}
      - MEILI_HOST=http://meilisearch:7700
    restart: always
    # build: . # uncomment to build from source
    image: ghcr.io/linkwarden/linkwarden:v2.13.2
    # ports:
    #   - 3000:3000
    volumes:
      - ${HOST_DATA_PATH:-/data/linkwarden}/data:/data/data
    depends_on:
      - postgres
      - meilisearch

    # Linkwarden can use a lot of CPU and memory during indexing operations
    deploy:
      resources:
        limits:
          cpus: '3'
          memory: 6G

    networks:
      - proxy
      - linkwarden
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.linkwarden.tls=true"
      - "traefik.http.routers.linkwarden.tls.certresolver=cloudflare"
      - "traefik.http.routers.linkwarden.entrypoints=websecure"
      - "traefik.http.routers.linkwarden.rule=Host(`${FQDN:?FQDN not set}`)"
      - "traefik.http.services.linkwarden.loadbalancer.server.port=3000"

  postgres:
    image: postgres:16
    restart: always
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:?POSTGRES_PASSWORD not set}
      - POSTGRES_USER=${POSTGRES_USER:?POSTGRES_USER not set}
      - POSTGRES_DB=${POSTGRES_DB?-postgres}
    volumes:
      - ${HOST_DATA_PATH:-/data/linkwarden}/postgres:/var/lib/postgresql/data
    networks:
      - linkwarden

  meilisearch:
    image: getmeili/meilisearch:v1.30.1
    restart: always
    environment:
      - MEILI_MASTER_KEY=${MEILI_MASTER_KEY:?MEILI_MASTER_KEY not set}
    volumes:
      - ${HOST_DATA_PATH:-/data/linkwarden}/meilisearch:/meili_data
    networks:
      - linkwarden

  pgadmin:
    image: dpage/pgadmin4:9.11.0
    # Don't auto start pgAdmin, as it's not needed for normal operation
    restart: no
    environment:
      # Email and password are REQUIRED for the pgAdmin.  I didn't make the required for this file because
      # most users won't need pgAdmin.
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    networks:
      - linkwarden
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.linkwarden.tls=true"
      - "traefik.http.routers.linkwarden.tls.certresolver=cloudflare"
      - "traefik.http.routers.linkwarden.entrypoints=websecure"
      - "traefik.http.routers.linkwarden.rule=Host(`${FQDN:?FQDN not set}`) && PathPrefix(`/pgadmin`)"
      - "traefik.http.services.linkwarden.loadbalancer.server.port=80"

networks:
  proxy:
    name: proxy
  linkwarden:
    name: linkwarden
    
