services:
  adguardhome:
    image: adguard/adguardhome
    container_name: adguardhome
    ports:
      - 53:53/tcp
      - 53:53/udp
      - 784:784/udp
      - 853:853/tcp
      # - 3000:3000/tcp
      # - 80:80/tcp
      # - 443:443/tcp
    volumes:
      - ${HOST_DATA_PATH:-/data/adguard}/work:/opt/adguardhome/work
      - ${HOST_DATA_PATH:-/data/adguard}/conf:/opt/adguardhome/conf
    restart: unless-stopped
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.adguard-dashboard.tls=true"
      - "traefik.http.routers.adguard-dashboard.tls.certresolver=cloudflare"
      - "traefik.http.routers.adguard-dashboard.entrypoints=websecure"
      - "traefik.http.routers.adguard-dashboard.rule=Host(`${FQDN:?FQDN not set}`)"
      - "traefik.http.services.adguard-dashboard.loadbalancer.server.port=80"

      - "traefik.http.routers.adguard-api.tls=true"
      - "traefik.http.routers.adguard-api.tls.certresolver=cloudflare"
      - "traefik.http.routers.adguard-api.entrypoints=websecure"
      - "traefik.http.routers.adguard-api.rule=Host(`${FQDN:?FQDN not set}`)"
      - "traefik.http.services.adguard-api.loadbalancer.server.port=3000"

      - "traefik.tcp.routers.adguard-tls.rule=HostSNI(`${FQDN:?FQDN not set}`)" 
      - "traefik.tcp.routers.adguard-tls.tls=true"
      - "traefik.tcp.routers.adguard-tls.entrypoints=dot"
      - "traefik.tcp.routers.adguard-tls.tls.certresolver=letsencrypt"
      - "traefik.tcp.routers.adguard-tls.service=adguard-tls"
      - "traefik.tcp.services.adguard-tls.loadbalancer.server.port=53"
networks:
  proxy:
    name: proxy
