# List physical network interfaces 
#   sudo lshw -class network -short
# 
# MacMini 2018 with T2:
# H/W path              Device           Class          Description
# =================================================================
# /0/100/1c/0                            network        BCM4364 802.11ac Wireless Network Adapter
# /0/100/1c.1/0         enp4s0           network        NetXtreme BCM57766 Gigabit Ethernet PCIe
# /6                    enx00e04cce6916  network        Ethernet interface

# Assign secondary IP address to physical interface (normally eth0, but enp4s0 on MacMini)
# > nano /etc/netplan/50-cloud-init.yaml (or other .yaml file in /etc/netplan/)
# 
# ```
# network:
#   version: 2
#   renderer: networkd
#   ethernets:
#     enx00e04cce6916:
#       dhcp4: true
#     enp4s0:
#       dhcp4: true # primary ip
#       addresses:
#         - 192.168.1.8/24 # secondary ip for Adguard Home
# ```
# > sudo netplan apply


version: '3.8'

services:
  adguardhome:
    image: adguard/adguardhome
    container_name: adguardhome
    ports:
      - ${IP:?IP not set}:53:53/tcp
      - ${IP:?IP not set}:53:53/udp
      - ${IP:?IP not set}:784:784/udp
      - ${IP:?IP not set}:853:853/tcp
      # - ${IP:?IP not set}:3000:3000/tcp
      # - ${IP:?IP not set}:80:80/tcp
      # - ${IP:?IP not set}:443:443/tcp
    volumes:
      - ${HOST_DATA_PATH:-/data/adguard}/work:/opt/adguardhome/work
      - ${HOST_DATA_PATH:-/data/adguard}/conf:/opt/adguardhome/conf
    restart: unless-stopped
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.adguard-dashboard.tls=true"
      - "traefik.http.routers.adguard-dashboard.tls.certresolver=cloudflare"
      - "traefik.http.routers.adguard-dashboard.entrypoints=websecure"
      - "traefik.http.routers.adguard-dashboard.rule=Host(`${FQDN:?FQDN not set}`)"
      # Set ADGUARD_PORT to 3000 for first time setup, then change to 80
      - "traefik.http.services.adguard-dashboard.loadbalancer.server.port=${ADGUARD_PORT:-80}"

      - "traefik.tcp.routers.adguard-tls.rule=HostSNI(`${FQDN:?FQDN not set}`)" 
      - "traefik.tcp.routers.adguard-tls.tls=true"
      - "traefik.tcp.routers.adguard-tls.entrypoints=dnsovertls"
      - "traefik.tcp.routers.adguard-tls.tls.certresolver=cloudflare"
      - "traefik.tcp.routers.adguard-tls.service=adguard-tls"
      - "traefik.tcp.services.adguard-tls.loadbalancer.server.port=53"

networks:
  proxy:
    name: proxy
