# List physical network interfaces 
#   sudo lshw -class network -short
# 
# MacMini 2018 with T2:
# H/W path              Device           Class          Description
# =================================================================
# /0/100/1c/0                            network        BCM4364 802.11ac Wireless Network Adapter
# /0/100/1c.1/0         enp4s0           network        NetXtreme BCM57766 Gigabit Ethernet PCIe
# /6                    enx00e04cce6916  network        Ethernet interface

# Assign secondary IP address to physical interface (example for eth0)
#   (label is max 15 chars)
#   sudo ip address add 192.168.1.8/24 dev eth0 label eth0:adguardhome
#   sudo ip address add 192.168.1.8/24 dev enp4s0 label enp4s0:adguard

version: '3.8'

services:
  adguardhome:
    image: adguard/adguardhome
    container_name: adguardhome
    ports:
      - ${IP:?IP not set}:53:53/tcp
      - ${IP:?IP not set}:53:53/udp
      - ${IP:?IP not set}:784:784/udp
      - ${IP:?IP not set}:853:853/tcp
      # - ${IP:?IP not set}:3000:3000/tcp
      # - ${IP:?IP not set}:80:80/tcp
      # - ${IP:?IP not set}:443:443/tcp
    volumes:
      - ${HOST_DATA_PATH:-/data/adguard}/work:/opt/adguardhome/work
      - ${HOST_DATA_PATH:-/data/adguard}/conf:/opt/adguardhome/conf
    restart: unless-stopped
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.adguard-dashboard.tls=true"
      - "traefik.http.routers.adguard-dashboard.tls.certresolver=cloudflare"
      - "traefik.http.routers.adguard-dashboard.entrypoints=websecure"
      - "traefik.http.routers.adguard-dashboard.rule=Host(`${FQDN:?FQDN not set}`)"
      - "traefik.http.services.adguard-dashboard.loadbalancer.server.port=80"

      - "traefik.http.routers.adguard-api.tls=true"
      - "traefik.http.routers.adguard-api.tls.certresolver=cloudflare"
      - "traefik.http.routers.adguard-api.entrypoints=port3000"
      - "traefik.http.routers.adguard-api.rule=Host(`${FQDN:?FQDN not set}`)"
      - "traefik.http.services.adguard-api.loadbalancer.server.port=3000"

      - "traefik.tcp.routers.adguard-tls.rule=HostSNI(`${FQDN:?FQDN not set}`)" 
      - "traefik.tcp.routers.adguard-tls.tls=true"
      - "traefik.tcp.routers.adguard-tls.entrypoints=dnsovertls"
      - "traefik.tcp.routers.adguard-tls.tls.certresolver=cloudflare"
      - "traefik.tcp.routers.adguard-tls.service=adguard-tls"
      - "traefik.tcp.services.adguard-tls.loadbalancer.server.port=53"
networks:
  proxy:
    name: proxy
